data/L3D/3MX filter=lfs diff=lfs merge=lfs -text
data/O2D/Coco2017_v1.19 filter=lfs diff=lfs merge=lfs -text
data/O2D/Images filter=lfs diff=lfs merge=lfs -text
data/O2D/Scene filter=lfs diff=lfs merge=lfs -text
data/S2D/Images filter=lfs diff=lfs merge=lfs -text
data/S2D/Scene filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/dragon_high.b3dm filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/dragon_low.b3dm filter=lfs diff=lfs merge=lfs -text
data/L3D/MeshScene filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/readme filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/tileset.json filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/dragon_medium.b3dm filter=lfs diff=lfs merge=lfs -text
data/L3D/CracksA_v1 filter=lfs diff=lfs merge=lfs -text
data/CC/Orientation filter=lfs diff=lfs merge=lfs -text
data/L3D/Images filter=lfs diff=lfs merge=lfs -text
data/L3D/OrientedPhotos filter=lfs diff=lfs merge=lfs -text
data/S2D/CracksAppliedAI_v1 filter=lfs diff=lfs merge=lfs -text
data/CC/Images filter=lfs diff=lfs merge=lfs -text
data/L3D/Images/image001.jpg filter=lfs diff=lfs merge=lfs -text
data/O2D/Coco2017_v1.19/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
data/L3D/CracksA_v1/metadata.xml filter=lfs diff=lfs merge=lfs -text
data/L3D/OrientedPhotos/ContextScene.xml filter=lfs diff=lfs merge=lfs -text
data/CC/Orientation/Orientations.xml filter=lfs diff=lfs merge=lfs -text
data/O2D/Images/IMG_1059.JPG filter=lfs diff=lfs merge=lfs -text
data/S2D/CracksAppliedAI_v1/metadata.xml filter=lfs diff=lfs merge=lfs -text
data/S2D/Images/image007.jpg filter=lfs diff=lfs merge=lfs -text
data/S2D/Images/image001.jpg filter=lfs diff=lfs merge=lfs -text
data/cesium3DTiles/readme/README.md filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image007.jpg filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image009.jpg filter=lfs diff=lfs merge=lfs -text
data/L3D/3MX/Data filter=lfs diff=lfs merge=lfs -text
data/L3D/MeshScene/ContextScene.xml filter=lfs diff=lfs merge=lfs -text
data/S2D/Images/image003.jpg filter=lfs diff=lfs merge=lfs -text
data/S2D/Images/image005.jpg filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image013.jpg filter=lfs diff=lfs merge=lfs -text
data/L3D/3MX/Production_6.3mx filter=lfs diff=lfs merge=lfs -text
data/O2D/Images/IMG_1060.JPG filter=lfs diff=lfs merge=lfs -text
data/O2D/Images/IMG_1061.JPG filter=lfs diff=lfs merge=lfs -text
data/O2D/Coco2017_v1.19/labels.xml filter=lfs diff=lfs merge=lfs -text
data/O2D/Scene/ContextScene.xml filter=lfs diff=lfs merge=lfs -text
data/S2D/CracksAppliedAI_v1/labels.xml filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image003.jpg filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image011.jpg filter=lfs diff=lfs merge=lfs -text
data/L3D/3MX/metadata.xml filter=lfs diff=lfs merge=lfs -text
data/L3D/Images/image007.jpg filter=lfs diff=lfs merge=lfs -text
data/S2D/Images/Thumbs.db filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image001.jpg filter=lfs diff=lfs merge=lfs -text
data/CC/Images/image005.jpg filter=lfs diff=lfs merge=lfs -text
data/O2D/Coco2017_v1.19/metadata.xml filter=lfs diff=lfs merge=lfs -text
data/S2D/CracksAppliedAI_v1/model.onnx filter=lfs diff=lfs merge=lfs -text
data/S2D/Scene/ContextScene.xml filter=lfs diff=lfs merge=lfs -text
data/L3D/CracksA_v1/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
data/L3D/CracksA_v1/labels.xml filter=lfs diff=lfs merge=lfs -text
data/L3D/Images/image003.jpg filter=lfs diff=lfs merge=lfs -text
data/L3D/Images/image005.jpg filter=lfs diff=lfs merge=lfs -text
