# Authorization configuration
# For your settings, refer to the values given in the "My Apps" page. https://developer.bentley.com/my-apps/

# For unit tests
IMJS_UNIT_TESTS_PROJECT_ID=
IMJS_UNIT_TESTS_CLIENT_ID=
IMJS_UNIT_TESTS_SECRET=

# For integration tests
IMJS_INTEGRATION_TESTS_PROJECT_ID=
IMJS_INTEGRATION_TESTS_CLIENT_ID=
IMJS_INTEGRATION_TESTS_SECRET=