# Authorization configuration
# For your settings, refer to the values given in the "My Apps" page. https://developer.bentley.com/my-apps/

# Config to run browser app
IMJS_PROJECT_ID=
IMJS_AUTHORIZATION_CLIENT_ID=
IMJS_AUTHORIZATION_REDIRECT_URI=
IMJS_AUTHORIZATION_SCOPES=
IMJS_AUTHORIZATION_ISSUER_URL=
IMJS_URL_PREFIX="qa-"

# Advanced CRA Config: https://create-react-app.dev/docs/advanced-configuration/
SKIP_PREFLIGHT_CHECK=true
DISABLE_ESLINT_PLUGIN=true

# Advanced iModel.js CRA Config: https://github.com/imodeljs/create-react-app/blob/imodeljs/packages/react-scripts/README-imodeljs.md
USE_FAST_SASS=true
USE_FULL_SOURCEMAP=true
TRANSPILE_DEPS=false