# Authorization configuration
# For your settings, refer to the values given in the "My Apps" page. https://developer.bentley.com/my-apps/

# Config to run integration tests

PROJECT_ID=
CLIENT_ID=
SECRET=
