# Authorization configuration
# For your settings, refer to the values given in the "My Apps" page. https://developer.bentley.com/my-apps/

# Config to run integration tests

IMJS_PROJECT_ID=
IMJS_CLIENT_ID=
IMJS_SECRET=
