.rds-controls-group {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.rds-control {
    margin-left: 10px;
}

.rds-sep {
    margin-top: 20px;
    margin-bottom: 20px;
}