# Placeholder to run action on feature branches
name: Typescript SDK CI

on:
  push:
    paths:
      - "typescript/**"
    branches: [ "feature/2.0.0", "feature/2.0.0-release", "feature/2.0.0-ts", "main" ]
  pull_request:
    paths:
      - "typescript/**"
    branches: [ "feature/2.0.0", "feature/2.0.0-release", "feature/2.0.0-ts", "main" ]
  workflow_dispatch: