name: Publish packages to NPM

on: workflow_dispatch

jobs:
  publish:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.0
          registry-url: https://registry.npmjs.org/

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 7.28.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile=true

      - name: Build
        run: pnpm build

      - name: Run unit tests
        run: pnpm coverage

      - name: Run integration tests
        run: pnpm integration-tests

      - name: Publish packages
        run: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin 
          pnpm publish-packages --new --branch ${{ github.ref_name }} --message "Version bump [skip actions][publish docs]"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
